.bg {
  background-image:  url('/assets/images/blur-breakfast-close-up-376464 copy.jpg');

  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;}

 .content{
	 padding-top: 30%;
	 width: 60%;
	 padding-left: 5%;

 }


 .content h1{
   color:white;
   font-family: 'Rakkas', cursive;

 }
 .content p {
   color: white;
   display: block;
   font-family: 'Source Sans Pro', sans-serif;
 }
.arrow{
	text-align: center;


}

 @media (min-width: 320px) {
	.head{
    display: flex;
		background-size: cover;
    max-width:100%;
    max-height: 100%;
		height: 100%;
		padding: 15px;
    background-position: 0%;
    background-size: cover;
	}

	.content{
		padding-top: 15%;
		width: 100%;
		padding-left:0%;
		margin-right: -5%;
		padding-bottom: 3%;
		display: block;
	}

	.content h1{
		font-size: 220%;
		padding-bottom: 5%;
    font-family: 'Rakkas', cursive;

	}

	.content p {
		color: white;
		display: block;
    padding-bottom: 8%;
    font-family: 'Source Sans Pro', sans-serif;
    width: 90%;

	}

	img
	{
		max-width: 100%;
		min-width: 300px;
		height: auto;
	}

  }


 @media (min-width: 576px) { .head{

	background-size: cover;
	min-width:inherit;
	height: 100%;
	padding: 15px;
	background-position: 0%;
}

.arrow{
	text-align: center;
	padding-top: 15%;
	padding-bottom: 0;
	margin: 0;
}

.content{
	padding-top: 15%;
	width: 100%;
	padding-left:0%;
	margin-right: -5%;
	padding-bottom: 3%;
	display: block;
}

.content h1{
	font-size: 150%;
	padding-bottom: 7%;

}

.content p {
	color: white;
	display: block;
	padding-bottom: 10%;
}

img
{
	max-width: 100%;
	min-width: 300px;
	height: auto;
}

}


 @media (min-width: 768px) {
  .content h1{
    font-size: 280%;
    padding-bottom: 3%;
    width: 50%;
  }

  .content p {
		color: white;
		display: block;
    padding-bottom: 4%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 150%;
    width: 60%;

	}


  }


 @media (min-width: 992px) {  }


 @media (min-width: 1200px) {
  .content p {
		color: white;
		display: block;
    padding-bottom: 8%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 190%;

	}
  }
