<div class="bg">
<div class= "fluid-container">
<div class="head">
    <div class= "content">


        <!--header paragraph-->
        <h1>Cream Pancakes <br>Recipe</h1>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
          type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
          essentially unchanged.
          </p>
          <a href ="/recipes" class="btn btn-outline-light" role="button">Read More</a>
            </div>



</div>

</div>
    </div>
