
<div mat-dialog-content>
  <p>Are you sure you want to delete the recipe {{recipe.title + '?'}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="dialogClose(false)">Cancel</button>
  <button mat-raised-button color="warn" (click)="dialogClose(true)" cdkFocusInitial>Delete</button>
</div>
