
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Rakkas');

.footer {
  padding-top: 6%;
  text-align: center;
  }

  .fa {
      padding: 10px;
      padding-right: 10%;
      padding-left: 5%;
      margin: 6px 3px;
      font-size: 20px;
      width: 20px;
      text-align: center;
      text-decoration: none;
      border-radius: 50%;
      vertical-align: middle;
    }
    .fa-facebook {
      background: rgb(191, 193, 196);
      color: white;
      text-align: center;
    }

    .fa-twitter {
      background: rgb(178, 182, 182);
      color: white;
    }

    .fa-instagram {
      background: rgb(178, 182, 182);
      color: white;
    }

  @media (min-width: 320px) {
      .footer {
          text-align: center;
          padding-top: 11%;

      }

      .footer h1{
         font-size: 230%;
         margin-top: 0%;
         padding-bottom: 7%;
        }
  .footer img{
      width: 21%;
      height: auto;
      margin-bottom: 2%;
      margin-right: 5%;


  }

  .footer h3{
      font-weight: 100%;
      font-size: 110%;
  }
  .footer h2{
      font-weight: 100%;
      font-size: 120%;
      margin-bottom: 7%;
  }
  .span{
      display: inline-block;
  }
  .footer p{
      margin-top: 5%;
      margin-bottom: 10%;
  }



    }
