
<!-- <app-name-editor></app-name-editor> -->
<app-recipe-header></app-recipe-header>
<h3>Get In Touch</h3>
<div class= "header-text">
<p> Feel free to contact us for collaborations, enquiries or just to say Hello! </p>
</div>
<app-profile-editor></app-profile-editor>
