.container{
  background: linear-gradient(100deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(1deg, rgba(248,248,248,.8), rgba(248,248,248,0) 70.71%);
}

/*Recipe Titles*/
h3 {
  font-family: 'Rakkas', cursive;
  color:#c5b75b;
  font-size: 180%;
  text-align: center;
  padding-top: 5%;
  }

 .header-text p{
   padding-top: 5%;
   padding-left: 4%;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 120%;
   display: block;
   text-align: center;
 }
