<div>
  <h3>Recipe Add</h3>

  <!---Recipe Name -->
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="recipesData.title"
      placeholder="Recipe Title"
    />
    <br />
  </mat-form-field>

  <!---Author -->
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="recipesData.author"
      placeholder="Recipe Author:"
    />
    <br />
  </mat-form-field>

  <!---Ingredients -->
  <mat-form-field>
    <textarea
      matInput
      [(ngModel)]="recipesData.ingredients"
      placeholder="Ingredients:"
    >
    </textarea>
  </mat-form-field>
  <br />

  <!---Prep Time -->
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="recipesData.prepTime"
      placeholder="Prep Time"
    />
  </mat-form-field>
  <br />
  <!---Cook Time -->
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="recipesData.cookTime"
      placeholder="Cook Time"
    />
  </mat-form-field>
  <br />

  <!---Steps -->
  <mat-form-field>
    <textarea matInput [(ngModel)]="recipesData.steps" placeholder="Steps">
    </textarea>
  </mat-form-field>
  <br />

  <!---Input Image -->
  <div ng-app="react-app" ng-controller="AppCtrl" layout-margin layout-padding>
    <input class="ng-hide" id="input-file-id"  name="input-file" type="file" (change)="selectFileUpload($event)"/>

  </div>
  <br />
  <!---Add button -->
  <button mat-raised-button color="primary" (click)="addRecipes()">Add</button>
</div>
