<div mat-dialog-content>
  <p *ngIf="result.status === 'failed'">Recipe cannot be deleted<br>
     (Only Recipes older than 10 days can be deleted)</p>
  <p *ngIf="result.status === 'success'">Successfully deleted</p>
</div>
<div mat-dialog-actions>

  <button mat-button color="primary" (click)="dialogClose()">Ok</button>

</div>

