.therecipe{
    padding-top: 7%;
}

.therecipe p{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.therecipe h1{
  color:#c5b75b;
  font-family: 'Rakkas', cursive;
  text-align: center;

}


@media (min-width: 320px) {
	.therecipe{
        padding-top: 27%;
    }

    .therecipe h1{
        text-align: center;
        font-size: 200%;
        padding-bottom: 10%;
    }
    .therecipe p{
        text-align: center;
    }

  }


