.container{
  display:flex;
  flex-direction: column;
  padding-top: 5%;
  padding-left: 10%;
  width: 100%;
  background: linear-gradient(100deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(1deg, rgba(248,248,248,.8), rgba(248,248,248,0) 70.71%);
}

.container > x {
  width: 100%;
}

/*input fields*/
.input-block{
  width: 100%;
}

/*number input*/
.number{
  width: 100%;
}

/*textarea*/
.textarea{
  width: 100%;
}
