<div class="container">

<form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.valid)">
<p>
    <mat-form-field class="input-block">
        <input matInput placeholder="First Name" formControlName="firstName" name="firstName">
        <mat-error *ngIf="profileForm.controls['firstName'].touched && profileForm.get('firstName').errors">
            invalid first name
        </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input-block">
        <input matInput placeholder="Last Name" formControlName="lastName" name="lastName">
        <mat-error *ngIf="profileForm.controls['lastName'].touched && profileForm.get('lastName').errors">
            invalid last name
        </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="input-block">
        <input matInput placeholder="E-mail" formControlName="email" name="email">
        <mat-error *ngIf="profileForm.controls['email'].touched && profileForm.get('email').errors">
            Enter valid E-mail
        </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="number" hintLabel="Max 10 characters">
          <input type="number" matInput #input maxlength="10"  placeholder="Enter phone number" formControlName="phoneNumber" name="phoneNumber">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          <mat-error *ngIf="profileForm.controls['phoneNumber'].touched && profileForm.get('phoneNumber').errors">
              Enter number
          </mat-error>

        </mat-form-field>
      </p>

  <p>
  <mat-form-field class="textarea" appearance="outline">
    <textarea  matInput placeholder="Subject"></textarea>


    </mat-form-field>

  </p>


  <button type="submit" mat-raised-button color="primary">Submit</button>

</form>
      </div>

