
.fluid-container{
  background: linear-gradient(100deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(1deg, rgba(248,248,248,.8), rgba(248,248,248,0) 70.71%);
}
.gallery{
    padding-top: 7%;
  padding: 0%;
  padding-bottom: 15%;

}
.flex-colum img{
  margin: 5px;
}



.gallery h1{
  text-align: center;
  padding-top: 10%;
  font-family: 'Rakkas', cursive;
  color:#c5b75b;
}

.card:first-child {
border-radius: 0;

}

@media (min-width: 320px) {
    .card-columns {
        column-count: 2;

    }

    .gallery h1{
        text-align: center;
        padding-top: 20%;
        font-size: 200%;
        color:#c5b75b;
      }


  }
  @media only screen and (max-width: 425px) and (min-width: 320px)  {
    .card-columns {
      column-count: 1;

  }

  .gallery h1{
      text-align: center;
      padding-top: 20%;
      font-size: 200%;
      color:#c5b75b;
    }
  }
