<div class= "fluid-container">
<div class="container">
    <div class="gallery" id="gallery">
    <h1>Gallery</h1>
    <div class="container">
          <div class="card-columns ">
           
                  <div class="card">
                     
             <img class="card-img" src="/assets/images/1.jpeg" alt="Card image top">
                       
                     
                  </div>
            
         
                  <div class="card">
  
                      <img class="card-img" src="/assets/images/6.jpeg" alt="Card image top">
                  </div>
      
                  <div class="card mt-0">
  
                       <img class="card-img" src="/assets/images/4.jpeg" alt="Card image top">
                  </div>
    
                  <div class="card mt-5">
                      <img class="card-img" src="/assets/images/6.jpeg" alt="Card image top">
  
                  </div>

                  <div class="card mt-1">
  
                                        <img class="card-img" src="/assets/images/4.jpeg" alt="Card image top"> 
  
                  </div>              
              
          </div>
  
      </div>
      </div>
      </div>
      </div>
    
