<nav class ="navbar navbar-light bg-light navbar-expand-lg ">
  <a class="navbar-brand justify-content-start"  href="#">
	<img src="/assets/images/logo2.png" width="30" height="30" alt="">
	Hello Food
	</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
          </button>
 <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recipes">Recipes</a>
      </li>
	   <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>

    </ul>
  </div>
		</nav>

