@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.head{
	background-image: url('/assets/images/Backgroundtop1.jpg');
	background-size: cover;
	min-width: 100%;
	height: 30%;
	padding: 0px;
}
 .content{
	 padding-top: 30%;
	 width: 60%;
	 padding-left: 5%;

 }


 .content h1{
   color:white;
   margin-left:4%;
   /* text-align: center; */
   font-family: 'Rakkas', cursive;
   color:#c5b75b;

 }
