<app-recipe-header></app-recipe-header>
<div class="scrollbar scrollbar-primary">
  <div class="force-overflow"></div>
<div class="input-group">
    <input [(ngModel)]="searchString" type="search" class="form-control" placeholder="Looking for a recipe?" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button mat-raised-button color="warn" (click)="searchRecipe()" class="btn btn-outline-secondary" type="button">Search Recipes</button>

    </div>
  </div>
  <br>

  <div>
    <button class="addButton" mat-raised-button color="warn" (click)="addRecipes()">
      Add Recipe
    </button>
  </div>
<br>

<h4>Recipe List</h4>
<br>

  <div *ngFor="let recipe of recipes; let i=index;">

    <a routerLink="/recipe-details/{{recipe._id}}"> </a>
<div class="card-container">
    <mat-card class="card">
      <mat-card-title>
      <h3><span class="badge">{{i+1}}</span>{{recipe.title}}</h3></mat-card-title>
      <img mat-card-image [src]=recipe?.image?.url alt="" width="40">
      <br/><h6> Author:</h6><p> {{recipe.author}}</p>
      <br/><h6> PrepTime:</h6><p>{{recipe.prepTime}}</p>
      <br> <h6>CookTime:</h6><p> {{recipe.cookTime}}</p>
      <br><h6> Ingredients:</h6><p>
      <span [innerHTML]="recipe?.ingredients"></span></p>
      <br><h6> Steps:</h6>
      <span> <p>{{recipe.steps}}</p></span>
      <mat-card-actions>
        <div>
          <button mat-raised-button color="warn"  (click)="removeRecipe(recipe)">Delete Recipe</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
    <br>
  </div>
</div>
