@import url('https://fonts.googleapis.com/css?family=Rakkas');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.input-group{
  padding-top: 3%;
  width: 93%;
  margin-left: 4%;
}

/*Recipe List Title*/
h4 {
  font-family: 'Rakkas', cursive;
  color:#c5b75b;
  font-size: 190%;
  text-align: center;
  }

  /*Recipe Titles*/
h3 {
    font-family: 'Rakkas', cursive;
    color:#c5b75b;
    font-size: 120%;
    text-align: center;
    }

   /*Recipe sub headers*/
h6 {
    font-family: 'Rakkas', cursive;
    font-size: 130%;
    color:#c5b75b;
    }

    /*Recipe paragraph*/
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120%;
    display: block;
}
    /*Card*/

.card {
     width: 95%;
     background: linear-gradient(100deg, rgba(255,255,255,.8), rgba(255,0,0,0) 70.71%),
     linear-gradient(1deg, rgba(248,248,248,.8), rgba(248,248,248,0) 70.71%);
}
.card-container{
     margin-left: 5%;
}

   /*add recipe button*/
.addButton{
     margin-left: 4%;
}

  /*Responsive Breakpoints*/
  @media only screen and (max-width: 425px) and (min-width: 320px)
 {
 /*Recipe paragraph*/
 p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 87%;
  display: block;
}

/*Recipe List Title*/
h4 {
  font-family: 'Rakkas', cursive;
  color:#c5b75b;
  font-size: 170%;
  text-align: center;
  }

  /*Recipe Titles*/
h3 {
    font-family: 'Rakkas', cursive;
    color:#c5b75b;
    font-size: 100%;
    text-align: center;
    }

   /*Recipe sub headers*/
h6 {
    font-family: 'Rakkas', cursive;
    font-size: 110%;
    color:#c5b75b;
    }

}

@media (min-width: 992px) {
  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 170%;
    display: block;
  }
}

  @media (min-width: 1200px) {
    p{
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 180%;
      display: block;
  }
   }

@media (min-width: 1440px) {
  p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 180%;
    display: block;
}
 }

