<div class="container">
    <div class="footer">

        <span><h1><img src="/assets/images/logo2.png" class="img-responsive"  alt="">hellofood&#174;</h1></span>

      <h3>+27 11 567 899</h3>
      <h2>info@hellofood.co.za</h2>
      <p><a href="#"  class="fa fa-facebook ra-circle"></a>
      <a href="#" class="fa fa-twitter ra-circle"></a>
      <a href="#" class="fa fa-instagram ra-circle"></a>
      </p>
          </div>
        </div>

