
<div>
  <h2>Recipe Add</h2>
  <div>
    <label>Recipe Name:
      <input [(ngModel)]="recipesData.title" placeholder="Recipe Title"/>
    </label><br>
    <label>Recipe Author:
      <input [(ngModel)]="recipesData.author" placeholder="Author"/>
    </label><br>
    <label>Ingredients:
      <input [(ngModel)]="recipesData.ingredients" placeholder="Ingredients"/>
    </label><br>
    <label>Prep Time:
      <input [(ngModel)]="recipesData.prepTime" placeholder="Prep Time"/>
    </label><br>
    <label>Cook Time:
      <input [(ngModel)]="recipesData.cookTime" placeholder="Cook Time"/>
    </label><br>
    <label>Steps:
      <input [(ngModel)]="recipesData.steps" placeholder="Steps"/>
    </label><br>
  </div>
  <button (click)="addRecipes()">Add</button>
</div>
